@{
    ViewBag.Title = "Contact";
}
<center>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1>Contact Me</h1>
                <p>Feel free to reach out to me using the information below:</p>
                <ul class="list-unstyled">
                    <li><i class="fas fa-envelope mr-2"></i>Email: mahtab.sani12381@gmail.com.com</li>
                    <li><i class="fas fa-phone mr-2"></i>Phone: +8801783873816</li>
                    <li><i class="fas fa-map-marker-alt mr-2"></i>Address: ka-157/E Kuratoli,Kuril</li>
                </ul>
            </div>
        </div>
    </div>

</center>
