
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_RestaurentsLayout.cshtml";
}



@{
    ViewBag.Title = "Home Page";
}
<main>
    <div class="row" aria-labelledby="aspnetTitle">
        <section class="col-md-6">
            <h1 id="title">Restaurents Dashboard</h1>
            <p class="lead">Welcome to our zero hunger initiative! </p>
        </section>
        <section class="col-md-6 text-end">
            <h1 id="title">Welcome,@ViewBag.username</h1>
        </section>
    </div>
    <br /><br />

    <div class="row">
        <section class="col-md-3">
            <div class="mycard-header">
                <h4>Pending Requests</h4>
            </div>
            <div class="mycard">
                <div class="circle"><span> @ViewBag.pendingcount</span></div>
            </div>
        </section>
        <section class="col-md-3">
            <div class="mycard-header">
                <h4>Accepted Requests</h4>
            </div>
            <div class="mycard">
                <div class="circle"><span> @ViewBag.acceptedcount</span></div>
            </div>
        </section>
        <Section class="col-md-3">
            <div class="mycard-header">
                <h4>Collected Requests</h4>
            </div>
            <div class="mycard">
                <div class="circle"><span> @ViewBag.collectedcount</span></div>
            </div>
        </Section>
        <Section class="col-md-3">
            <div class="mycard-header">
                <h4>Delivered Requests</h4>
            </div>
            <div class="mycard">
                <div class="circle"><span> @ViewBag.deliveredcount</span></div>
            </div>
        </Section>
    </div>
    <br /><br /><br /><br /> <br /><br />
    <center> <h2 id="hostingTitle">Thanks For joining with us!!!<br /> Together, we can make a difference.</h2></center>
    <br /><br /> <br /><br /> <br />
</main>